@charset "utf-8";

* {
  position: relative;
}

h1 {
  color: red;
  text-shadow: 1px 1px 2px red;
}

.header {
  background-color: #e6e6e6;
  font-size: 20px;
  color: white;
  float: left;
  padding: 10px;
}

.header button {
  border: solid 2.5px #000000;
  background: #c8c8c8;
}

.header button:hover {
  border: solid 2.5px;
  background: #969696;
}

.header button:active {
  border: solid 2.5px;
  background: #646464;
}
