@charset "utf-8";

* {
  position: relative;
}

h1 {
  color: red;
  text-shadow: 1px 1px 2px red;
}

.header button {
  border: solid 2.5px #000000;
  background: #c8c8c8;
  color: white;
  font-size: 20px;
  float: left;
  padding: 0px 25px 10px 5px;
}

.header button:hover {
  border: solid 2.5px #c8c8c8;
  background: #969696;
}

.header button:active {
  border: solid 2.5px #afafaf;
  background: #646464;
}
